# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
  
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: '14.16.0'
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn
    - run: yarn build-ssr --if-present
    - name: SSH Remote Commands
      # You may pin to the exact commit or the version.
      # uses: appleboy/ssh-action@1d1b21ca96111b1eb4c03c21c14ebb971d2200f6
      uses: appleboy/ssh-action@v0.1.4
      with:
        username: ${{ secrets.ORACLE_CLOUD_SSH_USERNAME }}
        host: ${{ secrets.ORACLE_CLOUD_SSH_IP }}
        password: ${{ secrets.ORACLE_CLOUD_SSH_PASSWORD }}
        script: |
          pm2 kill
          cd ~/timesheets-quasar
          git pull
          rm -rf dist
          yarn
          yarn build-ssr
          pm2 start ./dist/ssr/index.js
          pm2 save
          pm2 startup
          sudo env PATH=$PATH:/home/ubuntu/.nvm/versions/node/v14.16.1/bin /home/ubuntu/.nvm/versions/node/v14.16.1/lib/node_modules/pm2/bin/pm2 startup systemd -u ubuntu --hp /home/ubuntu
